/* Auto Form */
span.required{color:red;width:5px}

form.autoform{max-width:800px; padding:20px 5px; border:solid 1px #ccc;}
#contentwrap form.autoform img{float:none}
form.autoform .fieldstatus a{border:none}
form.autoform .fieldstatus a:hover{background:none}
form.autoform div{margin:2px 0; clear:both;}

/* Labels / Messages */
form.autoform label{padding:6px}
form.autoform .msg.icon{padding:5px 5px 5px 25px; margin:0 10px}
form.autoform span.error.icon{background:#FFF6CF url(/images/icons/icon_alert.gif) 7px center  no-repeat; display:inline}
form.autoform span.ok.icon{background:#D7FFCF url(/images/icons/tick.png) 7px center  no-repeat; display:inline}
form.autoform span.info.icon{background:#DFF0FF url(/images/icons/help.png) 7px center no-repeat; display:inline}
form.autoform label{width:200px; display:block; float:left;}
form.autoform span.required{float:left}

/* Inputs */
form.autoform input[type="text"]{padding:5px;}
form.autoform select{width:190px}
form.autoform label.checkbox,form.autoform label.radio{width:auto; float:left; display:inline;}
form.autoform div#checkboxdiv input, div#radiodiv input{float:left; display:inline;}

/* Submit */
form.autoform div#submitdiv{padding:5px}
form.autoform input[type="submit"]{float:right;margin-right:20px}

form.autoform .msg, form.autoform .fieldstatus{padding:5px; margin:0 10px}
form.autoform .fieldstatus{margin:0; cursor:pointer;}
img,a{padding:0;margin:0;}

/* Compact Style Message */
form.autoform span.error, div.alert{background:#FFF6CF; border:1px solid #FFDA2F; display:none}
form.autoform span.ok{background:#D7FFCF; border:1px solid #8ED181; display:none}
form.autoform span.info{background:#DFF0FF ; border:1px solid #6FBBFF; display:none}